/*
  Write your CSS Code here
*/
.groupOf{
  margin-top:25px;
  
}
.container{
  margin: 200px auto; 
  width: 500px;
  
  border: 4mm ridge cornflowerblue;
}
.containerOfTasks{
  display: inline-block;
  height:180px;
  width: 20%;
  border: 10px ridge cornflowerblue;
  overflow-y: auto;
  max-height: 200px;
}
.groupOfTasks{
  margin-top:50px;
  
}
.P{
  background-color:yellow;
}
.D{
  background-color:greenyellow;
}
.C{
  background-color: red;
}